<div class="registration-box">
  <%= form_for @bill do |form| %>
    <%= render partial: 'fields', locals: { form: form } %>
    <div class="row">
      <div class="two-thirds column">
        <%= form.submit 'Save changes', class: "button-primary u-full-width" %>
      </div>
      <div class="one-third column">
        <%= link_to 'Cancel', bills_url, class: "button u-full-width" %>
      </div>
    </div>
  <% end %>

  <%= link_to 'Delete this bill', bill_url(@bill), method: :delete, class: "button u-full-width" %>
</div>
