<h3><%= Date::MONTHNAMES[Date.today.month] %> <%= Date.today.year %> Bills</h3>

<div class="row">
  <div class="one-half column">
    <table class="u-full-width">
      <thead>
        <tr>
          <th>Bill</th>
          <th>Due</th>
          <th width="50">Auto?</th>
        </tr>
      </thead>
      <tbody>
        <% @bills.each do |bill| %>
          <% if bill.due_day > @today.day && !@future %>
            <tr class="today">
              <td>Today</td>
              <td><%= @today.day.ordinalize %></td>
            </tr>
            <% @future = true %>
          <% end %>
          <tr>
            <td><%= link_to bill.name, edit_bill_url(bill) %></td>
            <td><%= bill.due_day.ordinalize %></td>
            <td><%= '&#10004;'.html_safe if bill.auto_pay? %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to t('buttons.bill.new'), new_bill_url, class: "button button-primary u-full-width" %>
  </div>

  <div class="one-half column">
    <p>
      <strong>Add to your calendar:</strong>
      Subscribe to your bills in Google Calendar, Apple Calendar or any calendar that
      supports the iCalendar format by clicking the button below or copying the url into
      your calendar of choice.
    </p>
    <%= link_to t('buttons.add_to_calendar'), calendar_url(token: current_user.calendar_token, format: 'ics', protocol: 'webcal'), class: 'button u-full-width' %>
    <%= text_field_tag('icalendar_url', calendar_url(token: current_user.calendar_token, format: 'ics'), readonly: true, class: "u-full-width" ) %>
  </div>
</div>
