<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pay your bills on time - Bill Calendar</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', async: true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="header">
      <span class="u-pull-right">
        <% if current_user %>
          <%= current_user.name %>
          <%= link_to 'Bills', bills_path %>
          <%= link_to 'Log out', logout_path %>
        <% else %>
          <%= link_to 'Register', register_path %> or
          <%= link_to 'Log in', login_path %>
        <% end %>
      </span>
      <%= link_to 'BillCalender.info', '/' %>
    </div>

    <%= yield %>

    <footer>
      Created by <%= link_to '@bradpauly', 'https://twitter.com/bradpauly' %>,
      source code on <%= link_to 'Github', 'https://github.com/bradpauly/billcalendar' %>.
    </footer>
  </div>
</body>
</html>
